{# this block is by default expected to be used a partial in page where bootstrap css is included
   override as necessary #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ status.job.displayName }}</h3>
    </div>
    <div class="panel-body">
        {% if status.progress is not null %}
            <div class="row">
                <div class="col-md-1"><b>Progress:</b></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ status.progress * 100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ status.progress * 100 }}%;">
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-1"><b>Status:</b></div>
            <div class="col-md-1">{{ status.status }}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><b>Created:</b></div>
            <div class="col-md-1">{{ status.created|date('m/d/Y h:i') }}</div>
        </div>
        {% if 0 < status.job.displayParameters|length %}
            <div class="row">
                <div class="col-md-1"><b>Parameters:</b></div>
                {% for parameter in status.job.displayParameters %}
                    <div class="col-md-1"><b>{{ parameter }}:</b> {{ status.job.parameter(parameter) }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>